    {% extends "news/base.html" %}


     {% block content %}
      <p>
         <b>
            Bu sehife <i>Vaqifin sehifesidir</i>.
            Contact:Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci itaque impedit eius laudantium quae! Totam quas ducimus dolorum praesentium veniam, placeat consectetur earum a eligendi quo ipsa unde rem impedit?
         </b>
      </p>
      {% endblock %}


      
     {% block content2 %}
     <p>
        <b>
           hELLO
        </b>
     </p>
     {% endblock %}