{% extends 'news/base.html' %}
{% load static %}







    {% block content %}
    <div class="inner-page-banner-section pt-70 mb-30">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="inner-page-banner-wrapper" style="background-image: url({% static 'news/' %}assets/image/404/Background-9.png);">
                        <div class="banner-content error">
                            <h1>404</h1>
                            <h2>Page Not Found</h2>
                            <p>OPPS! Sometings went wrong.</p>
                            <a class="hover-btn" href="index.html">
                                BACK TO HOME
                                <svg class="arrow" width="10" height="10" viewBox="0 0 10 10"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1 9L9 1M9 1C7.22222 1.33333 3.33333 2 1 1M9 1C8.66667 2.66667 8 6.33333 9 9"
                                    stroke-width="1.5" stroke-linecap="round"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about us area strats here -->
    <div class="about-us-area">
        <div class="container">
            <div class="row mb-100 justify-content-center">
                <div class="col-lg-10">
                    <ul class="category">
                        <li>
                            <a href="about-us.html">About Us</a>
                        </li>
                        <li>
                            <a href="terms&amp;condition.html">Terms &amp; Conditions</a>
                        </li>
                        <li>
                            <a href="error.html#">Support</a>
                        </li>
                        <li>
                            <a href="privacy-policy.html">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- about us area strats here -->
    {% endblock content %}
   